
    $background-color: #433B4B;
    $highlight-color: #FFF6FF;
    $secondary-text-color: #665D6F;
    $shiny-icon-glow:  0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 10px rgba(255,255,255,.8),
    0 0 20px rgba(#FFF6FF ,.8),
    0 0 30px rgba(#d2abf0,.8),
    0 0 40px rgba(#8A7998,.8),
    0 0 50px rgba(#8A7998,.5),
    0 0 80px rgba(#8A7998,.5); 
    $grass-bar-glow: 0px 0px 0 #053D36 ,
    0px 0px 4px #30625A,
    0px 0px 8px #578980 ,
    0px 0px 16px #7FB2A9;

    $water-bar-glow: 0px 0px 0 blue,
    0px 0px 4px aqua,
    0px 0px 8px #89c1b8,
    0px 0px 16px aliceblue;
    
   